# Linear Regression implementation using Gradient Descent

In [1]:
import numpy as np

class LinearRegressionGD:
  def __init__(self, X, y, learning_rate, max_iterations, tolerance = 1e-4):
    ones = np.ones((X.shape[0], 1))
    self.X = np.append(ones, X, axis=1)
    self.y = np.expand_dims(y, axis=1)       
    self.beta = np.random.rand(self.X.shape[1], 1)
    self.lr = learning_rate
    self.max_iter = max_iterations
    self.tol = tolerance
    self.n_obs = X.shape[0]
    self.n_features = X.shape[1]
        
  def yhat(self, beta):
    yhat = np.matmul(self.X, beta)
    return yhat

  def loss(self, beta):
    yhat = self.yhat(beta)
    loss = 1.0 / self.n_obs * (np.sum(np.power(yhat - self.y, 2)))
    return loss

  def gradient_descent(self, beta):
    yhat = self.yhat(beta)
    dLossdBeta = 2 / self.n_obs * np.matmul(self.X.T, (yhat - self.y))
    return dLossdBeta

  def fit(self):
    for i in range(self.max_iter):
      beta_old = self.beta
      self.beta = self.beta - self.lr * self.gradient_descent(self.beta)
      diff = abs(self.beta - beta_old)
      diff_over_threshold = diff > self.tol * self.beta
      if not diff_over_threshold.any():
        loss = self.loss(self.beta)
        print(f"Converged!!! Final loss: {loss}")
        break  
      if i % 100000 == 0:
        loss = self.loss(self.beta)
        print(f"Loss at iteration {i} is {loss}")
    print("Beta = ", np.squeeze(self.beta, axis=1))

  def predict(self, X):
    ones = np.ones((X.shape[0], 1))
    X = np.append(ones, X, axis=1)
    yhat = np.matmul(X, self.beta)
    return yhat

## Model diabetes dataset

In [2]:
import pandas as pd
from sklearn import datasets

data = datasets.load_diabetes(as_frame=True)

In [3]:
data['frame'].head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [4]:
data['frame'].isna().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

In [5]:
X = data["frame"].drop("target",axis=1)
y = data["frame"]["target"]

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X)
X_std = sc.transform(X)

In [6]:
lr = LinearRegressionGD(X, y, 0.001, 1000000, 1e-4)
lr.fit()

Loss at iteration 0 is 28964.22088208786
Loss at iteration 100000 is 3408.4055776237196
Loss at iteration 200000 is 3079.888018248071
Loss at iteration 300000 is 2966.1711900200257
Loss at iteration 400000 is 2919.363661654161
Loss at iteration 500000 is 2899.0985620152533
Loss at iteration 600000 is 2889.9275274854695
Loss at iteration 700000 is 2885.5633056207216
Loss at iteration 800000 is 2883.35646207302
Loss at iteration 900000 is 2882.154230839411
Beta =  [ 152.13348416   -5.38006373 -233.82350032  524.45034074  319.77994267
  -61.54060554 -116.42306715 -207.05029688  119.11435147  455.25195824
   84.88903616]